doctype html
html(lang="en")
    head
        include partials/site_info.pug

        title RU Hacks | Ryerson University
    body
        include partials/visitor_notify.pug
        // ==================== Content ==================== 
        #landing-container
            // ==================== Cover ==================== 
            #landing
                #snow.landing-layer
                #tower.landing-layer
                #lights.landing-layer
                #landscape.landing-layer
                #splash-container.landing-layer
                    #splash
                        #splash-logo
                        #splash-loc-date
                            |Ryerson University
                            .divider
                            |April 6-8 2018
                            br
                            |Stay Tuned
                        #splash-contact
                            |Contact us at 
                            .divider
                            a(href="mailto:helloworld@ruhacks.com", title="helloworld@ruhacks.com") helloworld@ruhacks.com
                            br
                            |Visit our 2017 site @ 
                            .divider
                            a(href="https://www.ruhacks.com/2017", title="RU Hacks 2017") RU Hacks 2017
                            
                        #splash-call-to-action
                            
        // ==================== Includes ==================== 
        include partials/includes.pug

        // ==================== Mailchimp modal ====================
        script(type="text/javascript", src="https://downloads.mailchimp.com/js/signup-forms/popup/embed.js", data-dojo-config="usePlainJson: true, isDebug: false")
        script(type="text/javascript") require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"b207fd87507e77f47ffc3e42c","lid":"e11842f474"}) })
